USE [master]
GO
/****** Object:  Database [BookManagement]    Script Date: 23-Sep-21 10:34:09 AM ******/
CREATE DATABASE [BookManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookManagement.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BookManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BookManagement_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookManagement]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryID] [varchar](10) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
	[Country] [nvarchar](50) NOT NULL,
	[StatusID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[OrderDetailID] [uniqueidentifier] NOT NULL CONSTRAINT [DF__tblOrderD__Order__1273C1CD]  DEFAULT (newid()),
	[OrderID] [uniqueidentifier] NOT NULL CONSTRAINT [DF__tblOrderD__Order__1367E606]  DEFAULT (newid()),
	[ProductID] [varchar](10) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [money] NOT NULL,
	[Date] [datetime] NOT NULL,
	[StatusID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblOrderDetails ] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblOrders](
	[OrderID] [uniqueidentifier] NOT NULL CONSTRAINT [DF__tblOrders__Order__164452B1]  DEFAULT (newid()),
	[UserID] [varchar](10) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Price] [money] NOT NULL,
	[StatusID] [varchar](10) NOT NULL,
	[PaymentStatus] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblProducts]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProducts](
	[ProductID] [varchar](10) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[CategoryID] [varchar](10) NOT NULL,
	[Writer] [nvarchar](50) NOT NULL,
	[QuantityInStock] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[StatusID] [varchar](10) NOT NULL,
	[PublicationDate] [datetime] NOT NULL,
 CONSTRAINT [PK_tblProducts] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblRoles]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblRoles](
	[RoleID] [varchar](10) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblStatus]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblStatus](
	[StastusID] [varchar](10) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_tblStatus] PRIMARY KEY CLUSTERED 
(
	[StastusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 23-Sep-21 10:34:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserID] [varchar](10) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[Gender] [varchar](10) NOT NULL,
	[RoleID] [varchar](10) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[Bank] [varchar](30) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[StatusID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Country], [StatusID]) VALUES (N'G1', N'Ghost', N'ThaiLand', N'A')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Country], [StatusID]) VALUES (N'G2', N'Ghost', N'American', N'A')
INSERT [dbo].[tblCategory] ([CategoryID], [CategoryName], [Country], [StatusID]) VALUES (N'L1', N'Love', N'Việt Nam', N'A')
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Total], [Date], [StatusID]) VALUES (N'd212c634-b568-43eb-9522-02527fb0e15b', N'29631726-307e-4b82-8cfc-d65f3992d125', N'B54', 2, 178000.0000, CAST(N'2021-07-11 10:38:46.110' AS DateTime), N'A')
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Total], [Date], [StatusID]) VALUES (N'bcfb76aa-0ef1-4946-b7be-0406b163ca6d', N'faa3fd6f-beac-4563-b17d-109ea1976e3a', N'B55', 1, 72000.0000, CAST(N'2021-07-11 17:49:34.370' AS DateTime), N'A')
INSERT [dbo].[tblOrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [Total], [Date], [StatusID]) VALUES (N'233184c8-46c6-4b3e-9418-0512abcc2edf', N'e8c8643e-0a59-401f-b8bd-582448738aa4', N'B54', 1, 89000.0000, CAST(N'2021-09-16 10:52:06.423' AS DateTime), N'A')
GO
INSERT [dbo].[tblOrders] ([OrderID], [UserID], [Date], [Price], [StatusID], [PaymentStatus]) VALUES (N'7f8dd6b1-3f07-4211-8948-0228527ed2a5', N'se2', CAST(N'2021-09-08 09:38:52.057' AS DateTime), 0.0000, N'I', N'Paid')
INSERT [dbo].[tblOrders] ([OrderID], [UserID], [Date], [Price], [StatusID], [PaymentStatus]) VALUES (N'3cae7dcd-94ed-4be3-8b22-027fb0f60412', N'se2', CAST(N'2021-07-14 10:13:40.163' AS DateTime), 315000.0000, N'I', N'Unpaid debt')
INSERT [dbo].[tblOrders] ([OrderID], [UserID], [Date], [Price], [StatusID], [PaymentStatus]) VALUES (N'9ca78bb0-72d8-4002-97d1-06081daa5b75', N'se2', CAST(N'2021-07-14 10:07:16.667' AS DateTime), 1287000.0000, N'I', N'Paid')
GO
INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [CategoryID], [Writer], [QuantityInStock], [Price], [StatusID], [PublicationDate]) VALUES (N'B1', N'Harry Potter 1', N'L1', N'J. K. Rowling', 20, 130000.0000, N'A', CAST(N'2021-06-27 18:07:08.490' AS DateTime))
INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [CategoryID], [Writer], [QuantityInStock], [Price], [StatusID], [PublicationDate]) VALUES (N'B11', N'Harry Potter 2', N'G1', N'J. K. Rowling', 15, 102000.0000, N'A', CAST(N'2021-06-27 18:13:41.723' AS DateTime))
INSERT [dbo].[tblProducts] ([ProductID], [ProductName], [CategoryID], [Writer], [QuantityInStock], [Price], [StatusID], [PublicationDate]) VALUES (N'B12', N'Harry Potter 3', N'G1', N'J. K. Rowling', 20, 132000.0000, N'A', CAST(N'2021-06-27 18:13:41.727' AS DateTime))
INSERT [dbo].[tblRoles] ([RoleID], [RoleName]) VALUES (N'AD', N'Admin')
INSERT [dbo].[tblRoles] ([RoleID], [RoleName]) VALUES (N'US', N'User')
INSERT [dbo].[tblStatus] ([StastusID], [StatusName]) VALUES (N'A', N'Active')
INSERT [dbo].[tblStatus] ([StastusID], [StatusName]) VALUES (N'I', N'Inactive')
INSERT [dbo].[tblUsers] ([UserID], [Password], [FullName], [Gender], [RoleID], [Email], [PhoneNumber], [Bank], [Address], [StatusID]) VALUES (N'se1', N'1000:ca889bf8056e4f3882a9c5b55c48c32bfd84ec0bc8fefda5:7e5f1b5dd44dd4a9ad8f970942c24347827c5207a838ecd7', N'Peter', N'Male', N'AD', N'vanfun@gmail.com', N'0971775111', N'HDBank', N'32/12a Bui Quang La', N'A')
INSERT [dbo].[tblUsers] ([UserID], [Password], [FullName], [Gender], [RoleID], [Email], [PhoneNumber], [Bank], [Address], [StatusID]) VALUES (N'se10', N'1000:a499a742d335fd2c178d1f587ef1d62e1a1ac092d458d6be:2017f7b90e8a02dded007cd945963f8fb679cb9bd7950ac6', N'Smith', N'Male', N'US', N'Smith@gmail.com', N'0917161516', N'ACB', N'Nguyen Van Luong F12', N'A')
INSERT [dbo].[tblUsers] ([UserID], [Password], [FullName], [Gender], [RoleID], [Email], [PhoneNumber], [Bank], [Address], [StatusID]) VALUES (N'se11', N'1000:8e4023ce1417f8631c1e72838d58055eae1875a823b6e064:6d3583a5dc510dcdf7c996017383bf8d36b67a76a4cf43a5', N'Jackson', N'Male', N'US', N'gelbero@gmail.com', N'0943433111', N'TPBank', N'Vinhome Quan 9', N'A')
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblCategory_tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatus] ([StastusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [FK_tblCategory_tblStatus]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails _tblOrders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrders] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails _tblOrders]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails _tblProducts] FOREIGN KEY([ProductID])
REFERENCES [dbo].[tblProducts] ([ProductID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails _tblProducts]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails _tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatus] ([StastusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails _tblStatus]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_tblOrders_tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatus] ([StastusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_tblOrders_tblStatus]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_tblOrders_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_tblOrders_tblUsers]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblCategory] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[tblCategory] ([CategoryID])
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblCategory]
GO
ALTER TABLE [dbo].[tblProducts]  WITH CHECK ADD  CONSTRAINT [FK_tblProducts_tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatus] ([StastusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblProducts] CHECK CONSTRAINT [FK_tblProducts_tblStatus]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblRoles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[tblRoles] ([RoleID])
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblRoles]
GO
ALTER TABLE [dbo].[tblUsers]  WITH CHECK ADD  CONSTRAINT [FK_tblUsers_tblStatus] FOREIGN KEY([StatusID])
REFERENCES [dbo].[tblStatus] ([StastusID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblUsers] CHECK CONSTRAINT [FK_tblUsers_tblStatus]
GO
USE [master]
GO
