* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d5df7b59;
}

.welcome {
    color: #2710f0;
    text-align: center;
    font-family: 'Festive', cursive;
    font-family: 'Zen Tokyo Zoo', cursive;
    font-size: 3rem;
    font-weight: 620;
}

.error_message {
    text-align: center;
    color: #F23756;
    font-family: cursive;
    margin-bottom: 1rem;
}

.error_search_message {
    text-align: center;
    color: #F23756;
    margin-bottom: 1rem;
    font-family: cursive;
}

.message {
    text-align: center;
    color: #F23756;
    margin-bottom: 1rem;
    font-family: cursive;
}

.textRight {
    text-align: right;
}

.textCenter {
    text-align: center;
}

.myForm {
    display: flex;
    justify-content: center !important;
}

.myForm input button {
    margin-left: 0.5rem;
}

.myForm button {
    margin-left: 0.1rem;
}