* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #8bda81;
}

.two-side-class {
    display: flex;
    justify-content: space-between !important;
}

.center-class {
    display: flex;
    justify-content: center !important;
}

.center-class button {
    margin-left: 0.3rem !important;
}

@media screen and (max-width:768px) {
    .center-class {
        display: flex;
        flex-wrap: wrap;
    }
    .center-class input[type=text] {
        width: 70% !important;
    }
}

@media screen and (max-width:512px) {
    .center-class {
        display: flex;
        flex-wrap: wrap;
    }
    .center-class input[type=text] {
        display: block;
        width: 50% !important;
    }
}

.red {
    color: red;
}

.azure {
    color: azure;
}

.blueviolet {
    color: blueviolet;
}

.brown {
    color: brown;
}

.chartreuse {
    color: chartreuse;
}

.violet {
    color: violet;
}

.orange {
    color: orange;
}

.black {
    color: black;
}

.cadetblue {
    color: cadetblue;
}

.darksalmon {
    color: darksalmon;
}

.fuchsia {
    color: fuchsia;
}

.darkblue {
    color: darkblue;
}