.bill {
    text-decoration: none;
    border: none;
    margin-left: 0.3rem;
    margin-bottom: 1rem;
    padding: 0.6rem;
    background-color: rgb(136, 213, 226);
    border-radius: 10%;
    color: black;
    font-size: 1.4rem;
    transition: 0.3s;
}

.bill:hover {
    transition: 0.3s;
    color: white;
    background-color: rgb(70, 41, 231);
    cursor: pointer;
}

.message {
    text-align: center;
    color: #F23756;
    font-family: cursive;
}

.productID {
    width: 98%;
    border: none;
    text-align: center;
    font-size: 1rem;
}

.quantity {
    text-align: center;
    width: 96%;
    border: none;
    font-size: 1rem;
}

.modify {
    border: none;
    background-color: white;
    color: blue;
    border: none;
    text-align: right;
    font-size: 1.1rem;
}

.modify:hover {
    cursor: pointer;
}

.remove {
    border: none;
    background-color: white;
    color: red;
    border: none;
    font-size: 1.1rem;
}

.remove:hover {
    cursor: pointer;
}

.price {
    text-align: right;
    width: 96%;
    border: none;
    font-size: 1rem
}

.add {
    text-align: center;
}

.addMore {
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}

.addMore:hover {
    color: coral;
}